* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body,
html, #root {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}


body::-webkit-scrollbar {
  width: 10px;
}


/* Track */

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-track:active {
  background-color: #fcfaf8;
}

/* Handle */

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dadada;
  transition: 1s all ease-in;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #c3c3c3;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #696969;
}

:root {
  --main-color: #14a800;
  --border-color: #ffffff;
  --body-background-color: #fcfaf8;
  --main-color: #ffffff;
  --google-grey: #f1f3f5;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:active {
  color: #14a800;
}

/* Sidebar */

.sidebar {
  width: 250px;
  transition: all 0.1s ease-in-out;
  scroll-behavior: smooth;
  overflow-y: hidden;
  position: fixed;
  left: 0;
  top: 70px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  margin: 0;
  padding: 1em 0em 6em 0em;
}

.sidebar:hover {
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

/* Track */

.sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c1c1c1;
}

.sidenav-toggled {
  transform: translateX(-250px);
}

.sidebar-wrap {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar__header p {
  width: 100%;
  margin: 0;
  font-weight: 500;
  color: black;
  font-size: 16px;
  font-family: "Mirza", cursive;
}

.sidebar__wrap:hover {
  color: #333333;
}

a.sidebar__link {
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  display: flex;
  text-align: left;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-start;
  color: #555555;
  align-items: flex-start;
  padding: 1em 4em 1em 1em;
}

.sidebar__list:hover {
  background-color: #f1f3f5;
  color: #333333;
}

.sidebar__list:active {
  background-color: #14a800;
}

.sidebar__link:active {
  color: #fff !important;
}

.sidebar__list {
  width: 100%;
}

.sidebar-icon {
  font-size: 22px;
}

img.avatar {
  border-radius: 100%;
}

.sidebar__header {
  font-weight: 600;
}

.sidebar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 1rem 1rem;
  font-family: "Mirza", cursive;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-bottom: 2em;
}

/* Main Body Conent */

.main__section {
  margin-left: 230px;
}

.main-toggled {
  margin-left: 0px;
  transition: 0.4s all ease-in-out;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  background: #fff;
  padding: 1em 3em 1em 1em;
  border-bottom: 1px solid #dadada;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
}

.nav-right {
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
  float: right;
}

.nav__dropdown {
  display: none;
  /* display: flex; */
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  padding: 1.5em;
  box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.09);
  border-radius: 7px;
  transform-origin: bottom center;
  width: 220px;
  gap: 1.5em;
  transition: transform 0.4s ease;
  transform-origin: bottom center;
  transform: translate(-160px, 10px);
}

.nav__dropdown:before,
.nav__dropdown:after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 25px;
  border: 15px solid transparent;
  border-bottom-color: #fff;
}

.nav__dropdown:after {
  left: 20px;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
}

.user-wrapper:hover .nav__dropdown {
  display: flex;
}

.dropwdown-list {
  display: flex;
  flex-direction: row;
  gap: 1em;
  color: #555555;
  align-items: center;
}

.dropwdown-list:hover,
.drop-link:hover {
  color: #14a800;
}

.drop-link {
  font-size: 14px;
  cursor: pointer;
}

.dropwdown-list a {
  color: #555555;
}

i.nav-icon {
  font-size: 20px;
}

.header__col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.hamburger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.navigation__title {
  color: #555555;
  letter-spacing: 1px;
  word-spacing: normal;
}

header h2 {
  color: #222;
}

.fa-bars {
  font-size: 22px;
  color: #333333;
  opacity: 0.6;
  cursor: pointer;
}

.fa-bars:hover {
  opacity: 1.6;
}

.drawed {
  width: 100px !important;
}

.search-wrapper {
  background: var(--google-grey);
  padding: 1rem;
  height: 40px;
  width: 250px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.fa-bell {
  font-size: 24px;
  opacity: 0.6;
  color: #333333;
  cursor: pointer;
}

.nav-chevr {
  font-size: 12px;
  opacity: 0.6;
  color: #333333;
  cursor: pointer;
}

.sbar-chevr {
  color: #fff;
  font-size: 14px;
  /* visibility: hidden; */
  padding-left: 1.5em;
}

.header-search {
  /* display: none; */
  color: #333333;
}

/* .box-shadow {
  box-shadow: 2px -1px 23px -1px rgba(19, 170, 82, 0.18);
  -webkit-box-shadow: 2px -1px 23px -1px rgba(19, 170, 82, 0.18);
  -moz-box-shadow: 2px -1px 23px -1px rgba(19, 170, 82, 0.18);
} */

.bx-search-alt-2 {
  font-size: 25px;
  opacity: 0.6;
  color: #333333;
}

.widget-1 > div,
.widget-2 > div {
  cursor: pointer;
  border-radius: 7px;
}

.search-wrapper input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}

.search-wrapper input::-webkit-input-placeholder {
  color: #333333;
  opacity: 0.6;
}

.user-wrapper {
}

.admin-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0.4em;
}

.admin-name {
  font-size: 17px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
}

.admin-pos {
  font-size: 13px;
  color: #555555;
}

.user-wrapper img {
  border-radius: 50%;
}

.user-wrapper small {
  display: inline-block;
  color: grey;
  margin-top: 10px !important;
}

.admin {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

main {
  margin-top: 74px;
  padding: 1em 1em 1em 2em;
  background: #f3f3ff;
  min-height: calc(100vh - 75px);
}

.navigation-bar {
  display: flex;
  gap: 15em;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.navigator__link {
  width: 100%;
  text-align: right;
  font-size: 17px;
  color: #555555;
}

.fa-home {
  color: #555555;
}

.fa-home:hover {
  color: #14a800;
}

.widget-1 {
  border-radius: 1px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.w1__col {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 2rem;
  border-radius: 7px;
}

.widget-2 {
  border-radius: 7px;
  display: grid;
  padding: 1em 1em 2.5em 1em;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
  background: #fff;
}

.w2__col {
  background: #f3f3ff;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1rem;
  border: radius 7px;
}

.card-single span:last-child span {
  color: grey;
  font-size: 3rem;
}

.card-single span:first-child {
  color: grey;
}

.card-single:last-child {
  background: #14a800;
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
  color: #fff;
}

/* Chart */

.chart-widget {
  margin-top: 1em;
  border-radius: 7px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  background: #fff;
  padding: 1em 1em 2.5em 1em;
}

.line-chart {
  width: fit-content;
}

.pie-chart {
  width: fit-content;
  grid-row: 1 / span 2;
  height: 10px;
}

/* Sign Up */

/* Profile Page styles */

.profile-wrap {
  background-color: #fff;
  width: fit-content;
  padding: 0rem 2em 3em 2em;
  border-radius: 7px;
  box-shadow: 0 0 11px 4px rgba(0, 0, 0, 0.09);
}

.profile-col {
}

.prof-inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2em;
  width: 100%;
}

.prof-ava-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.prof-inputs > label {
  color: #555555;
  line-height: 2em;
  font-weight: 600;
  font-size: 15px;
}

.prof-field {
  border: 1px solid rgba(221, 221, 221);
  border-radius: 4px;
  font-size: 14px;
  padding-left: 1em;
  height: 45px;
  color: #555555;
  min-width: 450px;
  max-width: 400px;
}

.prof-avatar {
  border-radius: 100%;
  margin-bottom: 4em;
  border: 4px solid var(--google-grey);
  box-shadow: 0px 0px 30px 7px var(--google-grey);
}

input,
label {
  display: block;
}

.edit__header {
  line-height: 4em;
  color: #555555;
  width: 100%;
  font-weight: 600;
  font-size: 1.5em;
  text-align: left;
}

.passToggle {
  position: absolute;
  /* color: red; */
  cursor: pointer;
  transform: translate(300px, -25px);
}

.passEye {
  position: absolute;
  color: #333333;
  cursor: pointer;
  transform: translate(310px, -5px);
}

.btn {
  border: none;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.09);
}

.btn:hover {
  opacity: 0.9;
}

.save-btn {
  background-color: #14a800;
  padding: 1em 4em;
  color: #fff;
  font-size: 14px;
  margin-top: 3em;
  align-self: center;
}

.edit-btn {
  cursor: pointer;
}

.fa-pencil-alt {
  background-color: #14a800;
  color: #fff;
  border-radius: 100px;
  font-size: 16px;
  height: fit-content;
  width: fit-content;
  padding: 0.7em;
  cursor: pointer;
  transform: translate(-35px, 80px);
}

.fa-pencil-alt::-webkit-file-upload-button {
  display: none;
}

.prof-field::-webkit-outer-spin-button,
.prof-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Login responsiveness when the screen viewport is less than 1050px */

@media only screen and (max-width: 1050px) {
  .sign-up__wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .bottom-wrap {
    flex-direction: column;
    padding-left: 20px;
    justify-content: flex-start;
  }
  .sign-up__col {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .sign-in-container {
    align-items: center;
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .login_svg {
    display: none;
  }
}

/* Login responsiveness when the screen viewport is less than 400px */

@media only screen and (max-width: 1050px) {
  .sign-up__wrap {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2em;
    text-align: left;
  }
  .sign-up__col {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .email-wrap,
  .password-wrap {
    width: 100%;
  }
}
